@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
  margin: 0;
  font-family: 'Nova Square', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #95834C;
}


